body {
    text-align: center;
    color: #6E1700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #6E1700;
}

label {
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}

form .btn-secondary:hover {
    background-color: #715447;
    border-color: #715447;
}