{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/info.css">

<body>
    <h1>Long Ago...</h1>
    {% for info in info %}
    <strong>Synopsis:</strong>
    <p>{{ info.synopsis }}</p>
    <strong>Years Aired:</strong>
    <p>{{ info.yearsAired }}</p>
    <strong>Genres:</strong>
    <p> {{ ['Animation', 'Action', 'Adventure', 'Family', 'Fantasy', 'Mystery'] | join(', ') }}
    </p>
    <strong>Creators:</strong>
    <p> {% set creators = [{'name': 'Michael Dante DiMartino', 'url':
        'https://www.imdb.com/name/nm0227204/'}, {'name': 'Bryan Konietzko', 'url':
        'https://www.imdb.com/name/nm1665983/'}] %}
        {% for creator in creators %}
        <a href="{{ creator.url }}">{{ creator.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endfor %}
</body>

{% endblock %}